// Setup
@import 'setup/functions.scss';
@import 'setup/variables.scss';

// Basics
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/base';

// Components
@import 'components/app-header';

// UI
@import 'components/ui/project-preview';
@import 'components/ui/project-modal';
@import 'components/ui/falling-arrow';

// Sections
@import 'components/sections/about-section';
@import 'components/sections/skills-section';
@import 'components/sections/contact-section';

.app-background {
  background-image: url('../../assets/img/app-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  @include media-breakpoint-up('md') {
    background-attachment: fixed;
    background-size: cover;
  }
}

.section-view {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-view {
  height: 50vh;
}
