@font-face {
  font-family: League-Spartan, sans-serif;
  src: url("../../../assets/fonts/league-spartan/LeagueSpartan-Regular.ttf")
}

@font-face {
  font-family: League-Spartan-Bold, sans-serif;
  src: url("../../../assets/fonts/league-spartan/LeagueSpartan-Bold.ttf")
}
