.main-header {
  font-family: Roboto;
  font-size: rem(24px);
  font-weight: 500;

  // background: rgba($color: #ffffff, $alpha: 0.3);
  background: rgba(19, 175, 227, 0.5647058824);

  padding: rem(30px) rem(10px);
  margin-inline: auto;

  position: sticky;
  transition: padding 0.3s ease-out;

  &.grow-fixed {
    // position: sticky;
    padding-block: rem(15px);
    top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 222;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;

  & .brand,
  & ul li {
    cursor: pointer;
  }

  & .brand:hover,
  & ul li:hover {
    transition: 0.3s;
    color: orange !important;
    text-decoration: underline;
  }
}
