.projects-section {
    @extend .section-view;
    background-image: url(../../../../assets/img/projects.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
