.project-preview {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.414);

  & .heading {
    margin: 0;
    padding: 15px 6px;
    background-color: #203467;
    color: white;
    text-align: center;
  }
}

.project-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
}

.carousel-dots-controls {
  background-color: #333333d6;
  padding: rem(10px) rem(20px);
  bottom: 0px !important;
  margin: 0 !important;
}

.ant-carousel .undragable {
  cursor: default;
}

.ant-carousel .drag-mouse {
  cursor: grab;
}
.ant-carousel .drag-mouse:active {
  cursor: grabbing;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  // font-size: inherit;
  font-size: 30px;
  color: #203467;
  z-index: 222;
  transition: opacity 0.3s, color 0.3s;
  opacity: 0;
}

.ant-carousel .slick-prev {
  inset-inline-start: 10px;
}
.ant-carousel .slick-next {
  inset-inline-end: 10px;
}

.project-preview:hover .slick-prev,
.project-preview:hover .slick-next {
  opacity: 1;
}

.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:hover {
  color: gainsboro;
}
